# Node modules
node_modules

# Environment variables
.env

# Prisma client gerado
/generated/prisma/

# Logs
*.log

# React build output
build/

# Editor configs
.vscode/
.idea/

# Mac OS system files
.DS_Store

# npm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
coverage/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache